<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block flashes %}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="{{ label }}">{{ flash }}</div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
