{% extends '::base.html.twig' %}

{% block body %}
{% for question in questions %}
<div>
    <p>{{ question.text }}</p>
    <p>{{ question.endDate|date('Y-m-d H:i:s') }}</p>
</div>
{% endfor %}

<a href="{{ path('question_ask') }}">ask a question</a>
{% endblock %}
