{% extends 'UIBundle::base.html.twig' %}

{% block body %}
{% for question in questions %}
<div>
    <h4>{{ question.text }}</h4>
    <p>{{ question.endDate|date('Y-m-d H:i:s') }}</p>
    <ul>
      {% for option in question.options %}
        <li>{{ option.text }}</li>
      {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}
