{% extends 'UIBundle::base.html.twig' %}

{% block body %}
{% for question in questions.hits.hits %}
<div>
    <h4>{{ question._source.text }}</h4>
    <p>{{ question._source.endDate|date('Y-m-d H:i:s') }}</p>
</div>
{% endfor %}

{% endblock %}
