{% extends '::base.html.twig' %}

{% block body %}
{% for question in questions.hits.hits %}
<div>
    <p>{{ question._source.id }}</p>
    <p>{{ question._source.text }}</p>
    <p>{{ question._source.endDate|date('Y-m-d H:i:s') }}</p>
</div>
{% endfor %}

<a href="{{ path('question_ask') }}">ask a question</a>
{% endblock %}
